<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link href="css/estrutura.css" rel="stylesheet" type="text/css"/>
    <link href="css/estruturaBT.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="css/historicodocliente.css">
    <link rel="stylesheet" href="css/svg.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="js/menu.js"></script>
    <script src="js/alert.js"></script>
    <title>Histórico do cliente</title>
</head>
<header>
    <p>Instituto Roberto Mateus > Clientes > Histórico do Cliente</p>

    <div th:replace="~{inicio :: header}"></div>

</header>
<body>

<section th:replace="~{inicio :: menu}"></section>

<section id="formulario">
    <div id="marg">
        <div class="l1 col-12 d-flex">
            <h1>Histórico do cliente</h1>
        </div>
        <div class="limite-padi-tab">

            <div class="foramatcao-tabela espc">
                <table class="table teste">
                    <thead>
                    <tr class="l3">
                        <th scope="col" class="formatacao_titulos">Cpf</th>
                        <th scope="col" class="formatacao_titulos">Nome</th>
                        <th scope="col" class="formatacao_titulos">Último atendimento</th>
                        <th scope="col" class="formatacao_titulos"></th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each="cliente : ${clientes}" class="l4 cor-escura">
                        <td><span th:text="${cliente.cpf}"></span></td>
                        <td><span th:text="${cliente.nome}"></span></td>
                        <td><span th:text="${cliente.ultimaalteracao}" class="ultimaalteracao"></span></td>

                        <td class="buttons ">
<!--                            <a th:href="@{paginaclientes/{id}(id=${cliente.id})}" th:method="get">-->
<!--                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"-->
<!--                                     class="bi bi-eye-fill" viewBox="0 0 16 16">-->
<!--                                    <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>-->
<!--                                    <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>-->
<!--                                </svg>-->
<!--                            </a>-->

                            <a th:href="@{cliente/{id}(id=${cliente.id})}" th:method="get">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                     class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                    <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                                </svg>
                            </a>
                            <a th:href="@{deletecliente/{id}(id=${cliente.id})}" th:method="delete" class="alert">
                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"
                                     fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                     stroke-linejoin="round" class="feather feather-trash-2">
                                    <polyline points="3 6 5 6 21 6"/>
                                    <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"/>
                                    <line x1="10" y1="11" x2="10" y2="17"/>
                                    <line x1="14" y1="11" x2="14" y2="17"/>
                                </svg>
                            </a>
                        </td>
                    </tr>
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
<script src="js/mascaras.js"></script>
</body>

<footer th:replace="~{inicio :: footer}"></footer>

</html>