<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>

    <div th:replace="create_cliente :: head"></div>

    <title>Atualização do cliente</title>
</head>
<header>
    <p>Instituto Roberto Mateus > Clientes > Atualização do cliente</p>

    <div th:replace="~{inicio :: sair}"></div>

</header>
<body>

<section th:replace="inicio :: menu"></section>

<form id="formulario" th:object="${cliente}" th:action="@{/updatecliente/{id}(id=${cliente.id})}" method="post">
    <div id="marg">
        <div class="l1 col-12 d-flex">
            <h1>Atualização do cliente</h1>
        </div>

        <div th:replace="create_cliente :: formulario"></div>

        <div class="l11 col-12 d-flex espc">
            <button type="button" class="btn btn-light b1">Cancelar</button>
            <button type="submit" class="btn btn-danger b2">Atualizar</button>
        </div>
    </div>
</form>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
</body>

<footer th:replace="~{inicio :: footer}"></footer>

<script type="text/javascript" src="@{js/validador.js}"></script>
</html>